Add Tshirt
See Shirt Sales
Add Admins
Change PW of any user
Create categories
Order Management
Review Management (Review)
View Order Status
<button ui-sref="createProduct">Create Shirt</button>
<h1>Registered users</h1>
<div ng-repeat="user in users">
	<span>{{user.name}}</span> | 
	<span>{{user.accountType}}</span> 
	<button class="btn btn-primary" ng-click="toggleAccountType(user)">Toggle account type</button>
</div>

<h1>Orders</h1>
<h2>Order ID Date Total Cost Status</h2>
<div ng-repeat="order in orders">
	<span ng-click="viewOrder(order['_id'])">{{order._id}}</span>
	{{order.purchaseDate | date}}
	{{order.totalCost}}
	{{order.status}}
	<div ng-if="activeOrderId == (order['_id'])">
		<h3>Order #: {{currentOrder._id}}</h3>
		<p>Purchase Date: {{currentOrder.purchaseDate | date}} </p>
		<!-- <p>Order Status: {{currentOrder.status}} </p> -->
		<form>
			<select ng-model='currentOrder.statusUpdated'>
			<!-- Created -> Processing, Processing -> Cancelled, Completed --> 
				<option value="{{currentOrder.status}}"> -> {{currentOrder.status}}</option>
				<option>Processing</option>
				<option>Cancelled</option>
				<option>Completed</option>
			</select>
			<button ng-click="updateStatus()">Update Status</button>
		</form>
		<p>Total Cost: {{currentOrder.totalCost}}</p>
		<div ng-repeat="product in currentOrder.products">
			<p>Items in Order: </p>
			<img ng-src="{{product.product.imageUrl}}"/>
			<p>Item Name:{{product.product.name}}</p>
			<p>Quantity:{{product.quantity}}</p>
			<p>Price:{{product.product.price}}</p>
	</div>
</div>
