<form novalidate class="create-account-form">
    Name: <input type="text" ng-model="user.name" /><br/>
    E-mail: <input type="email" ng-model="user.email" /><br/>
    Billing Address: <input type="text" ng-model="user.addressBilling" /><br/>
    Shipping Address: <input type="text" ng-model="user.addressShipping" /><br/>
    Phone Number: <input type="text" ng-model="user.phoneNumber" /><br/>
    Password: <input type="password" ng-model="user.password" /><br/>
    <input type="button" ng-click="" value="Reset" />
    <input type="submit" ng-click="createAccount()" value="Save" />
</form>