<div class="row shirts-row">
	<div ng-repeat='shirt in shirts' class="col-md-6 shirts-col clearfix">
		<div class="col-sm-5 no-left-padding">
			<img ng-src="{{shirt.imageUrl}}"/>
		</div>
		<div class="col-sm-7 no-left-padding">
			<h1 ui-sref="shirt({ id: shirt._id })" class="text-left">{{shirt.name}}</h1>
			<p>{{shirt.description}}</p>
			<p>Price: {{shirt.price}}</p>
			<p>
				<span ng-repeat='category in shirt.category' ng-click='getShirts(category)'>
					{{category}}
				</span>
			</p>
		</div>
	</div>
	<br>
</div>
