<form novalidate class="create-account-form">
    Name: <input type="text" ng-model="product.name" /><br/>
    Description: <input type="text" ng-model="product.email" /><br/>
    Image URL: <input type="text" ng-model="product.imageUrl" /><br/>
    Price: <input type="Number" ng-model="product.price" /><br/>
    Phone Number: <input type="text" ng-model="user.phoneNumber" /><br/>
    Password: <input type="password" ng-model="user.password" /><br/>
    <input type="button" ng-click="" value="Reset" />
    <input type="submit" ng-click="createAccount()" value="Save" />
</form>