<div class="row">
    <div class="col-sm-12">
        <h1>Add a new shirt</h1>
    </div>
    <div class="col-sm-8">
        <form novalidate class="create-account-form">
            <div class="form-group">
                <label for="product-name">Name</label>
                <input id="product-name" class="form-control" type="text" ng-model="product.name" />
            </div>
            <div class="form-group">
                <label for="product-description">Description</label>
                <textarea id="product-description" class="form-control" type="text" ng-model="product.description" /></textarea>
            </div>
            <div class="form-group">            
                <label for="product-image-url">Image URL</label> 
                <input id="product-image-url" class="form-control" type="text" ng-model="product.imageUrl" />
            </div>
            <div class="form-group">            
                <label for="product-price">Price</label> 
                <input id="product-price" class="form-control" type="Number" ng-model="product.price" />
            </div>
            <div class="form-group">            
                <label for="product-category">Categories</label>
                <input id="product-category" class="form-control" type="text" ng-model="product.category" />
            </div>

            <h2>Stock</h2>
            <div>
                <label for="stock-xs">XS</label> 
                <input id="stock-xs" class="form-control size-input" type="Number" ng-model="product.stock[0].quantity" />
                <label for="stock-s">S</label> 
                <input id="stock-s" class="form-control size-input" type="Number" ng-model="product.stock[1].quantity" />
                <label for="stock-m">M</label> 
                <input id="stock-m" class="form-control size-input" type="Number" ng-model="product.stock[2].quantity" />
                <label for="stock-l">L</label> 
                <input id="stock-l" class="form-control size-input" type="Number" ng-model="product.stock[3].quantity" />
                <label for="stock-xl">XL</label>
                <input id="stock-xl" class="form-control size-input" type="Number" ng-model="product.stock[4].quantity" />
            </div>

            <div class="form-buttons">
                <input class="btn btn-danger" type="button" ng-click="" value="Reset" />
                <input class="btn btn-primary" type="submit" ng-click="createProduct()" value="Save" />
            </div>
        </form>
    </div>
</div>