<div class="row" ng-if="isAdmin()">
	<div class="col-sm-12 bg-info shirt-admin">
		<strong>Admin options:</strong>
		<button class="btn" ng-click="makeEditable()">
			{{ adminAction }}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		IMAGE GOES HERE
		<!-- TODO: Image on shirt.directive.html -->
	</div>

	<!-- the non-edit view state -->
	<div ng-if="!edit" class="col-sm-6">
		<div >
			<h1>Name: {{ shirt.name }}</h1>
			<p>Description: {{ shirt.description}}</p>
			<p>Stock: {{ shirt.stock }} </p>
			<p>Price: {{shirt.price}}</p>
			<p>Categories: {{ shirt.categories}}</p>
			
			<!-- don't show order form for admin -->
			<form ng-if="!isAdmin()">
				<label for="shirt-quantity">Quantity</label>
				<input type="text" id="shirt-quantity" ng-model='shirt.quantity'/>

				<label for="shirt-size">Size</label>
				<select id="shirt-size" ng-model='shirt.size'>
					<option ng-repeat="item in stock" >{{item.size}}</option>
				</select>
				<!-- TODO: Stocks Model Updated, need to reflect here -->
				<button class="btn" ng-click="addToCart()">Buy Shirt</button>
			</form>
		</div>
	</div>

	<!-- the edit state for admins -->
	<div ng-if="edit" class="col-sm-6">
		<form name="form">
			<span ng-repeat="(key,value) in shirt">
				<div class="form-group">
					<label for="{{key}}">{{key}}</label>
					<input id="{{key}}" class="form-control" ng-model="shirt[key]" type="text">
				</div>	
			</span>
		</form>
	</div>
</div>





<br/>

<br/>

<h2>Reviews</h2>
<reviews></reviews>
