<br/>
<button ng-if="isAdmin()" ng-click="makeEditable()">
	{{ adminAction }}
</button>

<br/>

<div ng-if="!edit">
	<h1>Name: {{ shirt.name }}</h1>
	<p>Description: {{ shirt.description}}</p>
	<h2>Stock: {{ shirt.stock }} </h2>
	<h2>Price: {{shirt.price}}</h2>
	<h2>Categories: {{ shirt.categories}}</h2>

	<!-- Image -->
	<br/>
</div>

<form ng-if="edit" name="form">
	<!-- button to update to make post -->
	<!-- <input ng-repeat -->
	<!-- <label>Category:</label> -->
	<span ng-repeat="(key,value) in shirt">
		<label>{{key}}</label>
		<input ng-model="shirt[key]" type="text"></input></br>	
	</span>
</form>

<form ng-if="!isLoggedIn()">
	Quantity<input type="text"/>

	Size
	<select>
		<options></options>
	</select>
	<!-- TODO: Stocks Model Updated, need to reflect here -->
	<button>Buy Shirt</button>
</form>


<br/>

<br/>

<h2>Reviews</h2>
<reviews></reviews>
