<div ng-controller="CartController">

	<cart></cart>
	<button ui-sref='createAccount'>Create Account</button> 
	<form novalidate class="order-form">
	    Name: <input type="text" ng-model="user.name" /><br/>
	    E-mail: <input type="email" ng-model="user.email" /><br/>
	    Billing Address: <input type="text" ng-model="cart.addressBilling"/><br/>
	    Shipping Address: <input type="text" ng-model="cart.addressShipping"/><br/>
	    Phone Number: <input type="text" ng-model="user.phoneNumber" /><br/>
	    <button ng-click="completeOrder()">Order</button>
	</form>

</div>



